@**
 * Copyright 2013. IBM Germany.
 *
 * Defines the default wrapper for all HTML Form fields.
 *
 * Example:
 * {{{
 * @form(action = routes.Users.submit, args = 'class -> "myForm") {
 *   ...
 * }
 * }}}
 *
 * @param action The submit action.
 * @param args Set of extra HTML attributes.
 * @param body The form body.
 * @param form The play.api.data.Form object on which this HTML form is based on.
 *
 * @author Michael Wellner/Germany/IBM
 * @since Dec 1, 2013
 *@
@(action: play.api.mvc.Call, args: (Symbol,String)*)(body: => Html)(implicit form: play.api.data.Form[_])

@import util.FormHelper.i18n

<form action="@action.url" method="@action.method" @toHtmlArgs(args.toMap)>
	@if(form.globalErrors.size > 0) {
		<div class="alert alert-danger alert-square">
			@i18n(form.globalErrors(0).message)
		</div>
	} else {
		@if(form.errors.size > 0) {
			<div class="alert alert-danger alert-square">
				Your submitted form contains the following mistakes:
				<ul>
					@for(error <- form.errors) {
						<li>@i18n(error.message)</li>
					}
				</ul>
			</div>
		} 
	}

    @body
</form>